/* .theme:hover {
  background-color: #b49395;
  color: #14e330;
}

.hovering {
  color: #b49395;
}
.btn-primary:hover {
  background-color: #bec7d0;
} */

.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2000; /*Adjust z-index as needed*/
}

.hover-link {
  color: inherit; /* Inherit color from parent elements */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s ease-in-out; /* Smooth color change */
}

.hover-link:hover {
  color: #0d6efd; /* Change color on hover */
}

.hover-button {
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out; /* Smooth button style changes */
}

.hover-button:hover {
  background-color: #0d6efd; /* Change button background on hover */
  border-color: #0d6efd; /* Change button border color on hover */
}
